doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body {
          font-family: Monospace;
          background-color: #005C6F;
          margin: 0px;
          overflow: hidden;
        }
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/three.min.js')
    script.
        var socket = io.connect('http://localhost:4040');
  body
    block content
