extends layout

block content
  script.
    $( function() {
        // ドキュメントロードに実行する初期化コード
      $('#add').on('click', function() {
        console.log('add jellyfish');
        console.log($(".color").val());
        socket.emit('addJellyFish', { color: $(".color").val() });
      });
    });  
    
  form
    .form-group
      label(for='exampleInputEmail1') Color : 
      | 
      input.color
  button#add.btn.btn-default.btn-outline-inverse Generate Jellyfish 
